.wrap_form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrap_btn{
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
.rowInput{
  display: flex;
  gap: 24px;
}
.form_checkbox{
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (max-width: 767.98px) {
  .wrap_form {
    padding: 24px 16px 16px 16px;
  }
  .rowInput{
    flex-direction: column;
  }
}
