.buttonCustom{
  background-color: var(--primary);
  color: var(--white);
  outline: none;
  border: 0;
  text-transform: capitalize;
  line-height: 1.5;
  pointer-events: fill;
  width: max-content;
  transition: all .3s ease;
  border: 2px solid transparent;
}
.smallButton{
  padding: 4px 10px;
}
.mediumButton{
  padding: 6px 16px;
}
.largeButton{
  padding: 8px 24px;
}
.buttonCustom:hover{
  background-color: var(--white);
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all .3s ease;
  border-radius: 8px;
}