.button{
  background-color: var(--primary);
  transition: all .3s linear;
  width: max-content;
  margin-left: auto;
}
.button:hover{
  background-color: var(--primary);
  transition: all .3s linear;
}
.form_input{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rowInput{
  display: flex;
  gap: 24px;
}

.edit_profile_head{
  border-bottom: 1px solid var(--border-gray);
  padding: 16px 24px;
}
.edit_profile_head p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.account_page_body{
  display: flex;
  flex-direction: column;
  gap: 24px;
}