.header {
  position: relative;
}
.headerWrap {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  /* border-bottom: 1px solid var(--gray); */
  background-color: var(--white);
}
.menus {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 64px;
  overflow: hidden;
  max-width: 1200px;
}
.menu {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  height: 100%;
  display: flex;
  align-items: center;
  max-height: 90%;
  padding: 0 15px;
}

.menu:hover {
  border-bottom: 2px solid var(--primary);
}
.right {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  height: 100%;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--gray);
  border-radius: 100px;
  transition: var(--trans-liner);
  width: 200px;
}
.search:hover {
  background-color: var(--gray-hover);
  transition: var(--trans-liner);
}
.searchIcon {
  flex-shrink: 0;
}
.search input {
  outline: none;
  border: 0;
  margin-left: 8px;
}
.logo {
  animation: rotate 10s linear infinite;
}
.logoWrap a {
  display: inline-block;
}
.user,
.logo,
.cart {
  cursor: pointer;
}
.menu:hover .subMenus {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  transition: transform 0.25s ease, opacity 0ms, visibility 0ms;
}
.logoWrap {
  width: 276px;
}
.subMenus {
  cursor: default;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  max-height: 800px;
  top: 64px;
  left: 0;
  right: 0;
  transition: transform 0.1s ease, opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s;
  transform-origin: top center;
  transform: scaleY(0);
  background-color: var(--white);
  width: 100%;
  padding: 40px 0 68px 0;
  display: flex;
}
.subMenusWrap {
  max-width: 1200px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.subMenu {
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0s, opacity 0s;
  transition-delay: 0s;
  cursor: pointer;
  text-align: center;
}
.menu:hover .subMenu {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.2s linear;
  transition-delay: 0.2s;
}
.user {
  display: flex;
  align-items: center;
  gap: 6px;
}
.userWrap {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.userWrap:hover .userDropWrap {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.2s, visibility 0s, transform 0.25s ease;
}
.userDropWrap {
  position: absolute;
  min-width: 240px;
  right: 0;
  top: 64px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.2s, visibility 0s linear 0.2s, transform 0.25s ease;
  background-color: var(--white);
  padding: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.userDrop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userDropItem a,
.userDropItem {
  width: 100%;
  cursor: pointer;
  color: var(--text-gray);
  font-size: 14px;
}
.userDropItem:hover a,
.userDropItem:hover {
  color: var(--primary);
  font-size: 14px;
}

@media only screen and (max-height: 800px) {
  .subMenus {
    overflow: auto;
    max-height: 100vh;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
