.menuIcon:not(:last-child) {
  padding: 8px;
}
.menuIcon:last-child {
  padding: 8px 0 8px 8px;
}
.menuMB {
  width: 320px;
  height: 100vh;
  padding: 16px;
}
.closeItem {
  text-align: right;
  width: 100%;
}
.closeItem svg {
  display: inline-block;
}
.menuListStep1 .userImage {
  font-size: 16px;
}
.userImage {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 24px;
}
.userImage div {
  border: 1px solid var(--gray-hover);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.arrIcon {
  margin-right: 3px;
}
.menuMBItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
.menuListStep2 .menuMBItem:first-child,
.menuListStep3 .menuMBItem:first-child {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.menuMBList {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menuListStep1 .menuMBList {
  margin-top: 16px;
}

.menuItemTitle {
  font-size: 24px;
  font-weight: bold;
}

.menuBack {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 30px;
  padding-bottom: 8px;
}
.menuBack p {
  text-transform: capitalize;
  font-size: 16px;
}
.menuListStep1 {
  transform: translateX(0);
  transition: transform 0.25s;
  width: calc(100% - 30px);
  position: absolute;
}
.menuListStep3,
.menuListStep2 {
  transform: translateX(320px);
  transition: transform 0.25s;
  position: absolute;
  top: 36px;
  width: calc(100% - 30px);
}

.preHideLeft {
  transform: translateX(-320px);
  transition: transform 0.25s;
}

.hidenStep2 {
  transform: translateX(0px);
  transition: transform 0.25s;
}

.preHideright {
  transform: translateX(0px);
  transition: transform 0.25s;
}
.menuMBItemRow {
  display: flex;
  gap: 10px;
  align-items: center;
}
.userName {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.menuListStep2 .menuMBList .menuMBItem:not(:first-child) .menuItemTitle,
.menuListStep3 .menuMBList .menuMBItem:not(:first-child) .menuItemTitle {
  font-size: 18px;
  color: #757575;
}
